:root {
  --tabpanel-background-color: transparent !important;
  background: transparent !important;
}

#navigator-toolbox, #nav-bar {
  background-color: transparent !important;
}

vbox#titlebar {
  * {
      background-color: transparent !important;
  }    
}
