ody {
  flex-direction: row !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none;
}

.titlebar-buttonbox-container {

}

#navigator-toolbox {
  width: 200px; 
  height: 100vh;
  order: -1;  
}

#TabsToolbar {
  flex-direction: column;
}

#urlbar-container {
  width: 100px !important;
}

#nav-bar {
  width: 200px;
  flex-direction: column;
  order: -1;  
  padding-top: 30px !important;
}

.browser-toolbar {
  &:not(.titlebar-color) {
    background-color: transparent !important;
  }
}

/* address bar =================== */

#tracking-protection-icon-container, #identity-box {
  display: none;
}

#urlbar-input::placeholder,
.searchbar-textbox::placeholder {
  opacity: 0  !important;
}

.tabbrowser-tab {
  width: 193px;
}

#tabs-newtab-button {
  width: 100%;
}

#back-button, #forward-button, #PanelUI-button {
  display: none;
}

slot {
  display: block !important;
  max-height: calc(100vh - 100px);
  overflow: scroll;
}

#TabsToolbar-customization-target > * {
  display: block !important;
}

#firefox-view-button, #new-tab-button, #alltabs-button, #PersonalToolbar, #scrollbutton-up  {
  display: none !important;
}

#tabbrowser-tabs {
  border: 0 !important;
}

.titlebar-buttonbox-container {
  position: absolute;
  top: 5px;  
}
